.eslintrc.js
pm2.config.js
coverage
dist
node_modules
/apps/*.md
/apps/**/.docusaurus
/apps/**/.eslintrc.js
/apps/**/.next
/apps/**/node_modules
/packages/*.md
/packages/**/.eslintrc.js
/packages/**/dist
/packages/**/node_modules
