.coinbase-light {
  --color-teal-100: #001b33;
  --color-teal-90: #002f53;
  --color-teal-80: #004774;
  --color-teal-70: #006195;
  --color-teal-60: #007bb3;
  --color-teal-50: #0093cb;
  --color-teal-40: #00a9dd;
  --color-teal-30: #00bceb;
  --color-teal-20: #33d5f4;
  --color-teal-15: #5de2f8;
  --color-teal-10: #88edfb;
  --color-teal-5: #bcf6fd;
  --color-teal-0: #f0feff;
  --color-red-100: #330004;
  --color-red-90: #640109;
  --color-red-80: #910510;
  --color-red-70: #b50f1d;
  --color-red-60: #cf202f;
  --color-red-50: #e13947;
  --color-red-40: #ed5966;
  --color-red-30: #f47f88;
  --color-red-20: #f9a6ad;
  --color-red-15: #fbbabf;
  --color-red-10: #fdced2;
  --color-red-5: #fee1e4;
  --color-red-0: #fff5f6;
  --color-purple-100: #190d33;
  --color-purple-90: #361b6b;
  --color-purple-80: #5a30ad;
  --color-purple-70: #7743d7;
  --color-purple-60: #8a55e9;
  --color-purple-50: #9d6bf2;
  --color-purple-40: #b184f7;
  --color-purple-30: #c5a0fb;
  --color-purple-20: #d9bdfd;
  --color-purple-15: #e3ccfd;
  --color-purple-10: #ebdbfe;
  --color-purple-5: #f4e9ff;
  --color-purple-0: #fbf7ff;
  --color-pink-100: #330a2c;
  --color-pink-90: #531148;
  --color-pink-80: #741a66;
  --color-pink-70: #952785;
  --color-pink-60: #b33aa2;
  --color-pink-50: #cb51bb;
  --color-pink-40: #dd6ed1;
  --color-pink-30: #eb8fe3;
  --color-pink-20: #f4b2f0;
  --color-pink-15: #f8c3f5;
  --color-pink-10: #fbd4fa;
  --color-pink-5: #fde4fd;
  --color-pink-0: #fff5ff;
  --color-indigo-100: #080f33;
  --color-indigo-90: #11206b;
  --color-indigo-80: #1f36ad;
  --color-indigo-70: #2f4ad7;
  --color-indigo-60: #425be9;
  --color-indigo-50: #596ff2;
  --color-indigo-40: #7487f7;
  --color-indigo-30: #94a1fb;
  --color-indigo-20: #b5bdfd;
  --color-indigo-15: #c6ccfd;
  --color-indigo-10: #d6dafe;
  --color-indigo-5: #e6e8ff;
  --color-indigo-0: #f6f7ff;
  --color-gray-100: #0a0b0d;
  --color-gray-90: #1e2025;
  --color-gray-80: #32353d;
  --color-gray-70: #464b55;
  --color-gray-60: #5b616e;
  --color-gray-50: #717886;
  --color-gray-40: #89909e;
  --color-gray-30: #a3a9b6;
  --color-gray-20: #bfc4cf;
  --color-gray-15: #ced2db;
  --color-gray-10: #dee1e7;
  --color-gray-5: #eef0f3;
  --color-gray-0: #ffffff;
  --color-yellow-100: #000000;
  --color-yellow-90: #220c00;
  --color-yellow-80: #4a2100;
  --color-yellow-70: #733e00;
  --color-yellow-60: #9a6000;
  --color-yellow-50: #bc8300;
  --color-yellow-40: #d8a200;
  --color-yellow-30: #efbd00;
  --color-yellow-20: #ffd200;
  --color-yellow-15: #ffdd39;
  --color-yellow-10: #ffe972;
  --color-yellow-5: #fff2b2;
  --color-yellow-0: #fffcf1;
  --color-orange-100: #330d00;
  --color-orange-90: #641a00;
  --color-orange-80: #912702;
  --color-orange-70: #b53606;
  --color-orange-60: #cf470e;
  --color-orange-50: #e1591b;
  --color-orange-40: #ed702f;
  --color-orange-30: #f48c4c;
  --color-orange-20: #f9ae76;
  --color-orange-15: #fbc293;
  --color-orange-10: #fdd5b0;
  --color-orange-5: #fee8d2;
  --color-orange-0: #fffaf5;
  --color-green-100: #00331e;
  --color-green-90: #00472a;
  --color-green-80: #015c36;
  --color-green-70: #047043;
  --color-green-60: #098551;
  --color-green-50: #129961;
  --color-green-40: #22ad73;
  --color-green-30: #3cc28a;
  --color-green-20: #65d6a7;
  --color-green-15: #83e0ba;
  --color-green-10: #a3ebcd;
  --color-green-5: #cbf5e3;
  --color-green-0: #f5fffb;
  --color-blue-100: #00184d;
  --color-blue-90: #002982;
  --color-blue-80: #003ec1;
  --color-blue-70: #004beb;
  --color-blue-60: #0052ff;
  --color-blue-50: #105eff;
  --color-blue-40: #266eff;
  --color-blue-30: #4684ff;
  --color-blue-20: #73a2ff;
  --color-blue-15: #92b6ff;
  --color-blue-10: #b0caff;
  --color-blue-5: #d3e1ff;
  --color-blue-0: #f5f8ff;
  --palette-elevation2: var(--color-gray-0);
  --palette-elevation1: var(--color-gray-0);
  --palette-transparent: rgba(var(--color-gray-0), 0);
  --palette-secondary-foreground: var(--color-gray-100);
  --palette-secondary: var(--color-gray-5);
  --palette-positive-foreground: var(--color-gray-0);
  --palette-positive: var(--color-green-60);
  --palette-negative-foreground: var(--color-gray-0);
  --palette-negative: var(--color-red-60);
  --palette-primary-foreground: var(--color-gray-0);
  --palette-primary-wash: var(--color-blue-0);
  --palette-primary: var(--color-blue-60);
  --palette-line-heavy: rgba(var(--color-gray-60), 0.66);
  --palette-line: rgba(var(--color-gray-60), 0.2);
  --palette-background-overlay: rgba(var(--color-gray-80), 0.33);
  --palette-background-alternate: var(--color-gray-5);
  --palette-background: var(--color-gray-0);
  --palette-foreground-muted: var(--color-gray-60);
  --palette-foreground: var(--color-gray-100);
}
