.coinbase-normal {
  --icon-xs: 12px;
  --icon-s: 16px;
  --icon-m: 24px;
  --icon-l: 32px;
  --spacing-10: 80px;
  --spacing-9: 72px;
  --spacing-8: 64px;
  --spacing-7: 56px;
  --spacing-6: 48px;
  --spacing-5: 40px;
  --spacing-4: 32px;
  --spacing-3: 24px;
  --spacing-2: 16px;
  --spacing-1: 8px;
  --spacing-0: 0px;
  --typography-legal-font-family: Inter;
  --typography-legal-font-weight: Regular;
  --typography-legal-line-height: 16px;
  --typography-legal-font-size: 13px;
  --typography-caption-font-family: Inter;
  --typography-caption-font-weight: Medium;
  --typography-caption-line-height: 16px;
  --typography-caption-font-size: 13px;
  --typography-label2-font-family: Inter;
  --typography-label2-font-weight: Regular;
  --typography-label2-line-height: 20px;
  --typography-label2-font-size: 14px;
  --typography-label1-font-family: Inter;
  --typography-label1-font-weight: Medium;
  --typography-label1-line-height: 20px;
  --typography-label1-font-size: 14px;
  --typography-body-font-family: Inter;
  --typography-body-font-weight: Regular;
  --typography-body-line-height: 24px;
  --typography-body-font-size: 16px;
  --typography-headline-font-family: Inter;
  --typography-headline-font-weight: Medium;
  --typography-headline-line-height: 24px;
  --typography-headline-font-size: 16px;
  --typography-title4-font-family: Inter;
  --typography-title4-font-weight: Regular;
  --typography-title4-line-height: 28px;
  --typography-title4-font-size: 20px;
  --typography-title3-font-family: Inter;
  --typography-title3-font-weight: Medium;
  --typography-title3-line-height: 28px;
  --typography-title3-font-size: 20px;
  --typography-title2-font-family: Inter;
  --typography-title2-font-weight: Regular;
  --typography-title2-line-height: 36px;
  --typography-title2-font-size: 28px;
  --typography-title1-font-family: Inter;
  --typography-title1-font-weight: Medium;
  --typography-title1-line-height: 36px;
  --typography-title1-font-size: 28px;
  --typography-display3-font-family: Inter;
  --typography-display3-font-weight: Regular;
  --typography-display3-line-height: 48px;
  --typography-display3-font-size: 40px;
  --typography-display2-font-family: Inter;
  --typography-display2-font-weight: Regular;
  --typography-display2-line-height: 56px;
  --typography-display2-font-size: 48px;
  --typography-display1-font-family: Inter;
  --typography-display1-font-weight: Regular;
  --typography-display1-line-height: 72px;
  --typography-display1-font-size: 64px;
}
